.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  background: linear-gradient(to bottom, #cccccc, #ffffff);
  padding-inline: 2rem;
  &Copyrights {
    color: rgb(33, 33, 33);
    font-size: 1.6rem;
  }
}
