@import "../mixins.scss";

.container {
  background-image: url("/images/user_background.jpg");
  width: auto;
  height: calc(100vh - 4.8rem);
  background-size: cover;
  background-position: center;

  .bar {
    background-color: rgba(255, 255, 255, 0.856);
    width: max-content;
    height: 100%;
    display: grid;
    place-items: center;
    backdrop-filter: blur(5px);

    @include extra-small-screen {
      width: 100%;
    }
  }
}
