.hero {
  height: 53rem;
  overflow: hidden;
  position: relative;
  background-image: url("/images/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-between;
}
.heroText {
  height: 15rem;
  z-index: 20;
  margin-left: 5rem;
  position: relative;
  align-self: center;
  transform: translateY(-30%);
}
.heroText::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.301);
  filter: blur(20px);
  height: 100%;
  z-index: -1;
}

.title {
  font-size: 5rem;
  font-weight: 600;
  color: #fa9400;
  margin: 0;
}
.description {
  font-size: 1.9rem;
  line-height: 2.4rem;
  font-weight: 400;
  letter-spacing: 0.8px;
  color: rgb(235, 235, 235);
}
.chefSvg {
  width: 4.9rem;
  height: 4.9rem;
}
