@import "../../mixins.scss";

.container {
  padding-inline: 5rem;
  font-size: 1.6rem;
  display: flex;
  flex-flow: column;
  @include small-screen {
    padding-inline: 1.5rem;
  }

  .title {
    color: #fa9400;
    font-size: 3.7rem;
    font-weight: 700;
    padding: 2rem 0 1.5rem 2rem;
  }
  .list {
    display: grid;
    grid-auto-flow: column;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-rows: repeat(8, 1fr);
    background-color: #f7f7f7;
    padding: 2rem;
    border-radius: 2rem;

    @include small-screen {
      grid-auto-flow: row;
      grid-template-rows: none;
    }

    &Ingredient {
      margin-left: 0;
    }
  }

  .button {
    font-size: 1.6rem;
    width: 25rem;
    align-self: center;
    margin-block: 2rem;
  }
}
