.container {
  margin-inline: 10px;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
}

.divider {
  grid-column: 1/7;
}

.title {
  grid-column: 1/7;
}

.inputTitle {
  grid-column: 1/4;
}

.inputDescription {
  grid-row: 4/6;
}
.inputCategory {
  grid-row: 4/5;
  grid-column: 2/4;
}

.inputCookingTime {
  grid-row: 5/6;
  grid-column: 2/3;
}

.inputServings {
  grid-row: 5/6;
  grid-column: 3/4;
}
.inputImages {
  grid-column: 4/7;
  grid-row: 3/6;
}
