.container {
  background-color: #f7f7f7;
  padding: 4rem 0 2rem 5rem;
}
.step {
  display: flex;
  margin-bottom: 4rem;
  align-items: center;
}
.number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  width: 5.6rem;
  height: 5.6rem;
  font-weight: 700;

  border: 5px solid #fa9400;
  border-radius: 50%;
  margin-right: 2rem;
}
.description {
  font-size: 1.6rem;
  width: 70%;
}
