@import "../../mixins.scss";

.carousel {
  position: relative;
  max-width: auto;
}

.viewport {
  overflow: hidden;
  width: 100%;
  @include extra-extra-small-screen {
    width: 32rem;
    margin-inline: auto;
  }
}

.viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.viewport.is-dragging {
  cursor: grabbing;
}

.container {
  display: flex;
  user-select: none;
}

.dots {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 10px;
}
