@import "../mixins.scss";

.section {
  padding: 2rem 3rem;

  &Title {
    font-size: 4.5rem;
    font-weight: 700;
    @include extra-small-screen {
      font-size: 3.5rem;
      line-height: 8rem;
    }
    &Color {
      color: #fa9400;
    }

    svg {
      height: 54px;
      margin-right: 1rem;
      @include extra-small-screen {
        display: none;
      }
    }
  }
}

.container {
  position: relative;
  z-index: 4;
  margin-inline: 2rem;

  &Background {
    width: 100%;
    position: absolute;
    bottom: 15%;
    background-color: #fa960062;
    height: 70%;
    transform: skewX(-15deg);
  }
}
